/* General */
body {
  font-family: 'TIMES NEW ROMAN', sans-serif;
  background-color: #000000; 
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  
  font-family: '', sans-serif;

  margin-bottom: 30px;
  color: #ffe600; 
}


button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #ffe81f;
  color: #1a1a1a;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  
}

button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}


h2, h3 {
  margin: 20px 0;
}


.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}


.character-card {
  font-family: 'Star Jedi', sans-serif;
  background-color: #0d009f;
  border-radius: 15px;  
  width: 100%;
  max-width: 300px;  
  
}